* {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-image: url('/assets/images/bg-pattern-top-desktop.svg'), url('/assets/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    height: 750px;
    background-color: hsl(0, 0%, 100%);
    /* max-width: 1440px; */
}

.section-top {
    display: flex;
    width: 1600px;
}

/* Block left */
.block-left {
    width: 700px;
    margin: 100px 20px 60px 190px;
}

#title {
    width: 450px;
    font-weight: 700;
    font-size: 45px;

    color: hsl(300, 43%, 22%);

    padding-bottom: 10px;
}

#caption {
    width: 450px;
    font-weight: 400;

    line-height: 25px;
}


/* Block Right */
.block-right {
    width: 900px;
    margin: 100px 0 60px 80px;

    color: hsl(300, 43%, 22%);
    
    font-weight: 700;
}

#box-1, #box-2, #box-3 {
    background-color: hsl(300, 24%, 96%);
    width: 450px;
    height: 35px;
    border-radius: 10px;
    padding-top: 20px;
}

#box-1 {
   margin-bottom: 20px; 
   text-align: center;
}


#box-2 {
    margin: 25px 65px;

    text-align: center;
}

#box-3 {
    margin: 25px 130px;
    text-align: center;
}

#box-1 img, #box-2 img, #box-3 img{
    padding-right: 5px;
}

#last-img {
    margin-right: 25px;
}

/* Section Bottom */

.section-bottom {
    display: flex;
    width: 1600px;
}

.frame-1, .frame-2, .frame-3 {
    background-color: hsl(300, 43%, 22%);

    width: 390px;
    height: 250px;
    border-radius: 10px;
}

.frame-1 {
    margin: 0 40px 0 190px;
    /* margin-right: 35px; */
}

.frame-2 {
    margin-top: 20px;
    margin-right: 40px;
}

.frame-3 {
    margin-top: 40px;
}

.frame-1 img, .frame-2 img, .frame-3 img {
    border-radius: 40px;
    width: 45px;
}

.display-bottom {
    display: flex;
    padding: 45px 0 20px 35px;
}

.texts {
    display: flex;
    flex-direction: column;
}

#name {
    color: hsl(300, 24%, 96%);
    font-weight: 500;
    padding-left: 35px;
}

#description {
    color: hsl(333, 80%, 67%);
    padding-left: 35px;
    font-weight: 400;
}

.paragraph {
    color: hsl(300, 24%, 96%);
    padding: 0px 25px 20px 25px;
    line-height: 25px;
}

/* footer */

.attribution {
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
}