* {
    margin: 0;
    padding: 0;
}

header {
    margin: 40px 45px 0 45px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 160px;
    height: 25px;
}

header button {
    background-color: #fff;
    border-color: hsl(321, 100%, 78%);
    cursor: pointer;
    color: hsl(322, 100%, 66%);
    border-radius: 50px;
    width: 100px;
}

/* block 1 */
.block-1 {
    /* margin: 45px 0 0 55px ; */
}

#title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 120px;
    text-align: center;
    
}

#description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin: 20px 0 20px 600px;
    width: 410px;
}

 #button {
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border-style: none;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    margin: 5px 0 80px 685px;
}

#img-1 {
    width: 950px;
    height: 650px;
    margin-left: 350px;
}

.box-all {
    display: flex;
    margin: 80px 0 55px 480px;
}

#box-1 {
    margin-right: 300px;
}

#h1-text {
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#p-description {
    color: hsl(192, 100%, 9%);
}

/* Block 2 */

.block-2 {
    display: flex;
    margin: 200px 240px;
}

#box-3 {
    width: 700px;
    margin-top: 120px;
}

#title-box3 {
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#box-3 p {
    width: 450px;
    margin: 20px 0px 100px 100px;
}

#box-4 {
    width: 500px;
}

#box-4 img{
    width: 350px;
    height: 250px;
}

/* Block 3 */
.block-3 {
    display: flex;
    margin: 200px 320px;

}

#box-5 img {
    width: 350px;
    height: 250px;
}

#title-box4 {
    /* margin-left: 100px; */
    margin: 85px 0 0 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#description1 {
    width: 470px;
    margin: 20px 0 0 100px;
}

/* block 4 */

.block-4 {
    display: flex;
    margin: 200px 0 150px 200px;
}

/* Area */

#title1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position: relative;
    left: 38%;
    margin-bottom: 20px;
}

/* bottom */

.bottom {
    height: 450px;
    background-color: #00252e;
}

.bottom img{
    color: #fff;
}